@import "../../../bourbon/bourbon";
@import "../../../neat/neat";
@import "meyer-reset";

// Define breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

body {
  font-family: $helvetica;
  background: #fff;
}

header {
@include outer-container;

  div.inside-header {
    @include linear-gradient(#333333, #CCC);
    @include span-columns(12);
      h1 {
        font-family: $helvetica;
        font-size: golden-ratio(14px,  1);
      }
    }

    nav {
      @include span-columns(12);

      ul {

        li {
          display: inline-block;
          padding: 2em;
        }
      }
    }
}

section {
  @include outer-container;
}
