---
title: Portfolio of Nathan
author: Nathan Brettell
---
<div class="description">
  <p>Here are a few up-to-date projects that I have had the freedom to create.</p>

  <p>Through the last couple of years, I have seen myself go from strength to strength improving my skills and knowlege in Web Development. The below projects demonstrate my capability as a developer.</p>
</div>

<% items_with_tag('past').each do |post| %>
<article class="post">
  <a href="<%= post[:url] %>">
    <h1><%= post[:title] %></h1>
    <img class="highlight-image" src="<%= post[:image] %>" />
    <span><i class="icon icon-<%= post[:icon] %>"></i> <%= post[:tag] %></span>
  </a>
</article>
<% end %>
