---
title: "Digital Media Project"
created_at: 2015-04-01 18:17:00 +0000
image: /assets/images/projects-core.png
url: projects/core
kind: article
tag: Gamification
icon: gamepad
tags: ['blog', 'past', 'gamification', 'university']
---
<p>Core content</p>
