---
title: "Glenside Hospital Museum"
created_at: 2015-05-9 18:17:00 +0000
image: /assets/images/projects-ghm.png
kind: article
url: projects/fair-wear-clothing
tag: Theme
icon: tag
tags: ['blog', 'future', 'museum', 'freelance', 'wordpress']
---
<p>WordPress stuff.</p>
