---
title: "HandCraffted"
created_at: 2015-04-13 18:17:00 +0000
image: /assets/images/projects-handcraffted.png
kind: article
url: projects/fair-wear-clothing
tag: Theme
icon: tag
tags: ['blog', 'future', 'shop']
---
<p>Shopify Theme</p>
