---
title: "Police Crime Data"
created_at: 2015-03-25 22:00:00 +0000
image: /assets/images/projects-police-force.png
kind: code-article
tag: Api/Visualization
icon: bar-chart
---

<div id="skill-examples" class="skills">
  <div class="skill-example codehilite">
    <pre><code class="language-javascript">
      $(function() {
        // code stuffs here
      });
    </code></pre>
  </div>
  <div class="skill-example codehilite">
    <pre><code class="language-php">
        function code($one, $two) {
          // code somethings pls
          echo 'something';
        }
    </code></pre>
  </div>
  <div class="skill-example codehilite">
    <pre><code class="language-ruby">
      def foo
      "asdf"
      end
    </code></pre>
  </div>
</div>
