---
title: "Fair Wear Clothing"
created_at: 2015-04-01 18:17:00 +0000
image: /assets/images/projects-fair-wear.png
url: projects/fair-wear-clothing
kind: article
tag: Clothing
icon: tag
tags: ['blog', 'past', 'shop']
---
<p>Textual content</p>
